<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="alert show" *ngIf="alert">
      <span class="msg">{{alertMsj}}</span>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id=header>
    <img id=titulo src="assets/login/titulo.png">
    <img id=logo src="assets/login/dog.png">
  </div>

  <form id="form" [formGroup]="loginForm" (ngSubmit)="Login(loginForm)">
  
    <ion-item class="ion-margin-bottom">
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input formControlName="email" [value]='email'></ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="password" type="password" [value]='password'></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" shape="round">Iniciar sesión</ion-button>

  </form>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-back-circle-sharp"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button data-desc="Invi" (click)="LoginInvitado()">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button data-desc="Admi" (click)="LoginAdmin()">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button data-desc="Usua" (click)="LoginUsuario()">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button data-desc="Anon" (click)="LoginAnonimo()">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button data-desc="Test" (click)="LoginTester()">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  
  
</ion-content>
